Repository WordPress/wporg-parent-2021, pull requests merged in 2022-08, with the labels that each got.

#28 Block Style: Add Features list style
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Blocks

#22 Block Style: Add "Serif" style for paragraphs
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
Labels: [Component] Blocks

#19 Pattern: Add heading with arrow
  source/wp-content/themes/wporg-parent-2021/images/right-arrow.svg
  source/wp-content/themes/wporg-parent-2021/patterns/heading-with-arrow.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
Labels: [Component] Theme

#34 Block Style: Links list style (alternative)
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/base/_normalize.scss
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Blocks

#37 Theme: Use clamp for responsive sizes for more spacing presets
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Theme

#38 Fix: WordPress.org style improvements
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/base/_normalize.scss
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Theme

#36 Block Style: Add a "With Arrow" style to the Heading block
  source/wp-content/themes/wporg-parent-2021/images/right-arrow.svg
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/patterns/heading-with-arrow.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
Labels: [Component] Blocks, [Component] Theme

#39 Block Style: Add a "Dots" navigation block style
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
  source/wp-content/themes/wporg-parent-2021/sass/blocks/_index.scss
  source/wp-content/themes/wporg-parent-2021/sass/blocks/_navigation.scss
  source/wp-content/themes/wporg-parent-2021/sass/editor.scss
Labels: [Component] Blocks

#41 Make CTA heading arrow clickable
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
Labels: [Component] Blocks

#42 Make style of 'Link & arrow' heading in Firefox editor match frontend
  source/wp-content/themes/wporg-parent-2021/sass/editor.scss
Labels: [Component] Blocks
