Repository WordPress/wporg-parent-2021, pull requests merged in 2023-09, with the labels that each got.

#97 Styles: Update the button block styles
  source/wp-content/themes/wporg-parent-2021/sass/blocks/_button-mixins.scss
  source/wp-content/themes/wporg-parent-2021/sass/blocks/_button.scss
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Blocks

#104 Templates: Add comments to single post template
  source/wp-content/themes/wporg-parent-2021/sass/blocks/_comments.scss
  source/wp-content/themes/wporg-parent-2021/sass/blocks/_index.scss
  source/wp-content/themes/wporg-parent-2021/templates/single.html
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Theme

#103 Add colors white opacity 15 and black opacity 15 to palette
  source/wp-content/themes/wporg-parent-2021/theme.json
Labels: [Component] Theme

#108 Add Cards style for lists
  source/wp-content/themes/wporg-parent-2021/inc/block-styles.php
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
Labels: [Component] Theme, Redesign

#110 Use LinkWrapper elements for Card Grid styles
  source/wp-content/themes/wporg-parent-2021/sass/block-styles.scss
Labels: Redesign
