Repository WordPress/wporg-parent-2021, pull requests merged in 2023-08, with the labels that each got.

#93 Add `has-display-block` utility class
  source/wp-content/themes/wporg-parent-2021/sass/base/_utilities.scss
Labels: [Component] Theme

#94 Prevent screen readers from reading the arrow emoji in content
  source/wp-content/themes/wporg-parent-2021/functions.php
Labels: Accessibility

#98 404: Pass correct `get_site_url` param to avoid infinite loop
  source/wp-content/themes/wporg-parent-2021/patterns/404-page-subtitle.php
Labels: [Type] Bug, [Component] Theme

#100 Styles: Update external link icon
  source/wp-content/themes/wporg-parent-2021/images/external-link-icon.svg
  source/wp-content/themes/wporg-parent-2021/sass/base/_elements.scss
Labels: [Component] Theme
